.text-center{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.text-center span{
    position: relative;

}
.text-center span::before{
    content: "Correctify";
    color: black;
    animation: words 20s infinite;
}
 .text-center span::after{
    content:"";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #1db954;
    border-left: 2px solid #140101;
    right: -8px;
    animation: cursor .8s infinite, typing 12s steps(7)infinite;
}
@keyframes cursor {
    to{
        border-left: 2px solid #ffffff00 ;
    }
    
}
@keyframes words {
    0%, 30%{
        content: "Spelling Checker";
    }
}
@keyframes words {
    31%, 60%{
        content: "Spelling corrector";
    }
}
@keyframes words {
    61%, 100%{
        content: "Correctify";
    }
}
@keyframes typing {
    10%, 15%, 30%, 50%, 55%, 70%, 75%, 91%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 42%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% +8px);
    }